<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../components/cdn', { title: '메인' }) %>
    <link rel="stylesheet" href="/views/styles/globalstyle.css" />
    <link rel="stylesheet" href="/views/styles/post.css" />
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />

    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/39.0.2/super-build/ckeditor.js"></script> -->
    <script defer src="/static/js/edit.js"></script>
  </head>
  <body class="container">
    <%- include('../components/header', { isLogin: isLogin }) %>
    <div id="alertC"></div>
    <div class="qcTitle">제목</div>
    <div class="input-group mb-3 qcTitleContainer">
      <input
        id="title"
        type="text"
        class="form-control"
        placeholder="제목을 입력해 주세요"
        aria-label="title"
        aria-describedby="basic-addon1"
        value="<%= type === 'board' ? boards.title : data.title%>"
      />
    </div>
    <div style="display: flex; width: 500px; justify-content: space-between">
      <div style="display: flex; margin-bottom: 15px; align-items: center">
        <div class="qcTitle">게시판 종류</div>
        <div class="dropdown">
          <button
            id="typeLabel"
            class="btn dropdown-toggle disabled"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <%= type === 'board' ? '자유' : 'Q&A'%>
          </button>
          <ul class="dropdown-menu">
            <%for(d of ['자유', 'Q&A']){%>
            <li class="dropdown-item" onclick="changeType('<%= d%>')">
              <%= d%>
            </li>
            <%}%>
          </ul>
        </div>
      </div>
      <%if(type !== 'board'){%>
      <div
        id="dpContainer"
        style="display: flex; margin-bottom: 15px; align-items: center"
      >
        <div class="qcTitle">카테고리</div>
        <div class="dropdown">
          <button
            id="dpLabel"
            class="btn dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            앱 / 웹
          </button>
          <ul class="dropdown-menu">
            <%for(d of ['앱/웹', 'AI', '빅데이터', '클라우드', '핀테크',
            '블록체인', '개임개발', '기타']){%>
            <li class="dropdown-item" onclick="changeType2('<%= d%>')">
              <%= d%>
            </li>
            <%}%>
          </ul>
        </div>
      </div>
      <%}%>
    </div>

    <div class="editor"></div>
    <div id="editContent" style="display: none">
      <%= type === 'board' ? boards.content : data.content%>
    </div>

    <div class="qcWrite">
      <button
        type="button"
        class="btn btn-outline-danger"
        style="margin-right: 15px"
        onclick="history.back()"
      >
        취소
      </button>
      <%if(type === 'board'){%>
      <button
        type="button"
        class="btn btn-outline-success"
        onclick="editBoard('<%= boards.bId%>')"
      >
        수정
      </button>
      <%} else {%>
      <button
        type="button"
        class="btn btn-outline-success"
        onclick="editBoard('<%= data.qId%>')"
      >
        수정
      </button>
      <%}%>
    </div>
    <script src="/static/editor/ckeditor.js"></script>
  </body>
</html>
