<a onclick="moveToDetailQuestion('<%= data.qId %>')">
  <div
    style="
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <div id="cardContainer">
      <ques_header>
        <div><%= cDate%></div>
        <div class="ques_type"><%= data.qType %></div>
      </ques_header>
      <div class="title">
        <div class="ellipsis"><%= data.title%></div>

        <div class="viewImg">
          <img
            src="../../static/svg/eye.svg"
            alt="조회수"
            width="24px"
            class="svg"
            color="gray"
          />
          <%= data.viewCount%>
        </div>
      </div>
      <div class="ellipsis">
        <!-- 프론트에서 가져오는 부분 -->
        <div class="content">
          <%= data.content.replace(/<[^>]*>|&nbsp;/g, '') %>
        </div>
      </div>
      <user>
        <div style="display: flex; align-items: center">
          <%if(data.userImgPath){%>
          <img
            src="/<%= data.userImgPath %>"
            alt="프로필"
            width="32px"
            height="32px"
            style="border-radius: 999px; margin-right: 5px"
            class="profileImg"
          />
          <%}else{%>
          <img
            src="/static/svg/person.svg"
            alt="프로필"
            width="32px"
            height="32px"
            style="border-radius: 999px; margin-right: 5px"
            class="profileImg"
          />
          <%}%> <%= data.uName %>
        </div>
        <div class="like">
          <img
            src="../../static/svg/heart.svg"
            alt="좋아요"
            width="24px"
            class="svg"
          />
          <%= data.likeCount%>
          <img
            src="../../static/svg/question-and-answer.svg"
            alt="좋아요"
            width="24px"
            class="svg"
          />
          <%= data.answerCount %>
        </div>
      </user>
    </div>
  </div>
</a>
