<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="/static/js/index.js"></script>
  </head>
  <body>
    <h1>답변 수정하기</h1>
    <div>
      제목<input type="text" id="title" value="<%= answerData.title %>" />
    </div>
    <div>
      내용<input type="text" id="content" value="<%= answerData.content %>" />
    </div>
    <button onclick="editAnswerDone('<%= data%>', '<%= answerData.aId%>')">
      수정완료
    </button>
    <button onclick="editAnswerCancel('<%= data%>')">취소</button>
  </body>
</html>
