<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./components/cdn', { title: 'SesacIn 자유게시글 상세' }) %>
    <link rel="stylesheet" href="/views/styles/globalstyle.css" />
    <link rel="stylesheet" href="/views/styles/boardDetail.css" />
    <script defer src="/static/js/boardDetail.js"></script>
    <link rel="stylesheet" href="/static/editor/editorStyle.css" />
  </head>
  <body class="container">
    <%- include('./components/header', { isLogin: isLogin }) %>
    <div id="bWrapper">
      <div id="bTitle"><%= boardData.title %></div>
      <div id="bUserC">
        <div style="display: flex; align-items: center">
          <div id="bUser">
            <img src="../../static/svg/person.svg" alt="프로필" width="36px" />
            <%= boardData.uId %>
          </div>
          | <% if(!bResult) { %>

          <div
            class="viewImg likeImg"
            onclick="bLikeHandler('<%= boardData.bId %>')"
          >
            <img
              src="/static/svg/heart.svg"
              alt="좋아요수"
              width="24px"
              class="svg"
            />
            <%= boardData.likeCount%>
          </div>

          <% } else if(bResult) { %>

          <div
            class="viewImg likeImg"
            onclick="bLikeHandler('<%= boardData.bId %>')"
          >
            <img
              src="/static/svg/heart-fill.svg"
              alt="좋아요수"
              width="24px"
              class="svg"
            />
            <%= boardData.likeCount %>
          </div>

          <% } %>

          <div class="viewImg">
            <img
              src="../../static/svg/eye.svg"
              alt="조회수"
              width="24px"
              class="svg"
            />
            <%= boardData.viewCount%>
          </div>
        </div>

        <div id="bTime"><%= cDate %></div>
      </div>

      <div class="bContent ck-content"><%- boardData.content %></div>
      <div
        style="
          display: flex;
          justify-content: flex-end;
          color: darkgray;
          font-size: 18px;
        "
      >
        <div
          style="cursor: pointer; margin-right: 10px"
          onclick="fixComment('<%= boardData.bId %>')"
        >
          수정하기
        </div>

        <div style="cursor: pointer">삭제하기</div>
      </div>

      <div id="bCommentCount">댓글 <%= commentData.length%></div>

      <div style="display: flex; flex-direction: column; align-items: flex-end">
        <div class="input-group" style="margin: 15px 0px 15px 0px">
          <%if(isLogin && userData.userImgPath){%>
          <img
            src="/<%= userData.userImgPath %>"
            alt="프로필"
            width="48px"
            height="48px"
            style="border-radius: 999px"
            class="profileImg"
          />
          <%}else{%>
          <img
            src="../../static/svg/person.svg"
            alt="프로필"
            width="48px"
            height="48px"
            style="border-radius: 999px"
            class="profileImg"
          />
          <%}%>
          <textarea
            class="form-control"
            aria-label="With textarea"
            style="height: 100px"
          ></textarea>
        </div>
        <button
          type="button"
          class="btn btn-primary"
          onclick="addComment('<%= boardData.bId %>')"
        >
          작성하기
        </button>
      </div>

      <%for (let i = 0; i < commentData.length; i++) {%>

      <div class="commentContainer">
        <div
          class="input-group"
          style="
            display: flex;
            margin: 15px 0px 15px 0px;
            align-items: center;
            justify-content: space-between;
          "
        >
          <div class="userC">
            <%if(commentData[i].userImgPath){%>
            <img
              src="/<%= commentData[i].userImgPath %>"
              alt="프로필"
              width="48px"
              height="48px"
              style="border-radius: 999px"
              class="profileImg"
            />
            <%}else{%>
            <img
              src="../../static/svg/person.svg"
              alt="프로필"
              width="48px"
              height="48px"
              style="border-radius: 999px"
              class="profileImg"
            />
            <%}%> <%= commentData[i].uId %>
          </div>
          <div style="font-size: 14px; color: lightgray">
            <%= commentCreateAt[i] %>
          </div>
        </div>
        <div id="comment<%= commentData[i].cId%>" style="margin-left: 15px">
          <%= commentData[i].content %>
        </div>
        <%if(isLogin && commentData[i].uId === userData.uId){%>
        <div
          id="fixCommentC<%= commentData[i].cId %>"
          style="display: flex; justify-content: flex-end; color: darkgray"
        >
          <div
            style="cursor: pointer; margin-right: 10px"
            onclick="fixComment('<%= commentData[i].cId %>', '<%= boardData.bId %>')"
          >
            수정
          </div>

          <div
            style="cursor: pointer"
            onclick="openModal('정말 삭제하시겠어요?', 'deleteComment(<%= commentData[i].cId %>, <%= boardData.bId %>)');"
          >
            삭제
          </div>
        </div>
        <%}%>
      </div>
      <%}%>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="myModal"
      tabindex="-1"
      aria-labelledby="cautionModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cautionModalLabel">경고</h5>
          </div>
          <div class="modal-body">
            <p id="cautionText"></p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              취소
            </button>
            <button
              type="button"
              class="btn btn-danger"
              id="deletebtn"
              onclick="confirmDelete()"
            >
              확인
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    let editingCommentcId = null;

    // 현재화면에서 댓글 수정하기 눌렀을때 수정하는 칸 나오기
    function editComment(cId) {
      if (editingCommentcId !== null) {
        cancelEdit(editingCommentcId);
      }

      const commentDiv = document.getElementById(`comment${cId}`);
      const editDiv = document.getElementById(`editComment${cId}`);

      commentDiv.style.display = 'none';
      editDiv.style.display = 'block';

      const editedComment = document.getElementById(`editedComment${cId}`);
      editedComment.focus();
      editedComment.select();

      editingCommentcId = cId;
    }

    // 댓글 수정하는 칸에서 적용 버튼 눌렀을때 실제 댓글 수정 처리
    function applyEdit(cId) {
      const editedComment = document.getElementById(
        `editedComment${cId}`
      ).value;
      const commentDiv = document.getElementById(`comment${cId}`);
      const editDiv = document.getElementById(`editComment${cId}`);

      // 서버로 수정 요청을 보내고, 성공하면 수정된 내용으로 업데이트
      axios({
        method: 'patch',
        url: `/board/comment/edit/${cId}`,
        data: {
          content: editedComment,
        },
      })
        .then((response) => {
          console.log(response.data);
          // commentData[index].content = editedComment; // 클라이언트 데이터 업데이트
          commentDiv.innerHTML = `${cId}. 댓글 내용: ${editedComment}`;
          commentDiv.style.display = 'block';
          editDiv.style.display = 'none';
          editingCommentIndex = null;
        })
        .catch((error) => {
          console.log(error);
        });
    }

    // 댓글 수정하는 칸에 적은 글들 지우그
    function cancelEdit(cId) {
      const commentDiv = document.getElementById(`comment${cId}`);
      const editDiv = document.getElementById(`editComment${cId}`);
      commentDiv.style.display = 'block';
      editDiv.style.display = 'none';
      editingCommentIndex = null;
    }

    // 현재 페이지에 댓글 삭제하기

    // 댓글 목록을 다시 불러와서 화면 업데이트
    async function refreshComments() {
      const result = await axios({
        method: 'get',
        url: '/board/comment/list/<%= boardData.bId %>', // 서버에서 댓글 데이터를 가져오는 API 엔드포인트
      });
      // 현재 모든 댓글 데이터 저장
      let commentData = result.data.comment;

      const commentsContainer = document.getElementById('commentsContainer');
      commentsContainer.innerHTML = ''; // 기존 댓글 삭제

      commentData.forEach((comment) => {
        const commentDiv = document.createElement('div');
        commentDiv.innerHTML = `
      ${comment.cId}. 댓글 작성자: ${comment.uId}
      <button type="button" onclick="editComment('${comment.cId}')">수정하기</button>
      <button type="button" onclick="deleteComment('${comment.cId}')">삭제하기</button>
      <div id="comment${comment.cId}">
        ${comment.cId}. 댓글 내용: ${comment.content}
      </div>
      <div id="editComment${comment.cId}" style="display: none;">
        <input type="text" id="editedComment${comment.cId}" value="${comment.content}">
        <button type="button" onclick="applyEdit('${comment.cId}')">적용</button>
        <button type="button" onclick="cancelEdit('${comment.cId}')">취소</button>
      </div>`;
        commentsContainer.appendChild(commentDiv);
      });
    }

    //=== 세화 ===
    // 좋아요 기능
    const bLikeHandler = (bId) => {
      axios({
        method: 'PATCH',
        url: `/board/detail/like/${bId}`,
      })
        .then((res) => {
          if (res) {
            document.location.href = `/board/detail/${bId}`;
          }
        })
        .catch((err) => {
          console.log(err);
          if (err.response.status === 401) {
            document.location.href = '/';
          }
        });
    };
  </script>
</html>
