<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <%- include('./components/header') %> <% if(!success) {%>
    <div><%= msg %></div>
    <% } else { %>
    <div>
      <h1>제목</h1>
      <textarea name="" id="title" cols="50" rows="2">
<%= boards.title %></textarea
      >
    </div>
    <div>
      <h1>내용</h1>
      <textarea name="" id="content" cols="50" rows="25">
<%= boards.content %></textarea
      >
    </div>
    <div>
      <button type="button" onclick="thisBoardEditCancel()">
        저장하지 않고 돌아가기
      </button>
      <button type="button" onclick="thisBoardEdit('<%= boards.bId %>')">
        제출(업데이트)
      </button>
    </div>
    <% } %>
  </body>
  <script>
    async function thisBoardEdit(bId) {
      const title = document.querySelector('#title');
      const content = document.querySelector('#content');
      // console.log(bId, title.value, content.value);

      await axios({
        method: 'patch',
        url: `/board/edit/${bId}`,
        data: {
          title: title.value,
          content: content.value,
        },
      })
        .then((result) => {
          console.log(result);
          alert(result.data.msg);
        })
        .catch((error) => {
          console.log(error.response.data.msg);
        });
    }

    function thisBoardEditCancel() {
      const userConfirmed = confirm(
        '변경사항을 저장하지 않고 돌아가시겠습니까?'
      );

      if (userConfirmed) {
        console.log('변경사항을 저장하지 않고 이전으로 돌아갑니다.');
      } else {
        console.log('저장하지않고 돌아가기를 취소함');
      }
    }
  </script>
</html>
