<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./components/cdn', { title: '메인' }) %>
    <link rel="stylesheet" href="/views/styles/globalstyle.css" />
    <link rel="stylesheet" href="/views/styles/index.css" />
    <script defer src="../static/js/index.js"></script>
  </head>
  <body>
    <div class="container">
      <%- include('./components/header', { isLogin: isLogin }) %>
    </div>
    <%- include('./components/carousel')%>
    <div class="container">
      <div class="menuContainer">
        <!-- <div class="menu" onclick="changeType('all')">전체</div> -->
        <div style="display: flex">
          <div class="menu activeM" onclick="changeType(this)">Q&A</div>
          <div class="menu" onclick="changeType(this);">자유게시판</div>
        </div>
        <!-- BE : test용 추가 생성 버튼 -->
      </div>
      <div style="display: flex; justify-content: flex-end">
        <button
          onclick="moveToMakePost()"
          type="button"
          class="btn btn-outline-primary">
          글쓰기
        </button>
      </div>

      <div class="index_container">
        <%for(let i = 0; i < data.length; i++){%> <%-include(type === 'board' ?
        './components/freeBoardCard' : './components/questionBoardCard', { data:
        data[i], cDate: cDate[i] })%> <%}%>
      </div>
      <nav
        aria-label="..."
        style="display: flex; justify-content: center; margin-top: 20px"
      >
        <ul class="pagination">
          <li id="prev" class="page-item disabled">
            <a class="page-link" tabindex="-1" onclick="getPageData('prev')"
              ><</a
            >
          </li>

          <%for(let i = 1; i <= (pageCount > 10 ? 10 : pageCount); i++){%>
          <li class="page-item <%= i === 1 && 'active' %>">
            <a class="page-link" onclick="getPageData('<%= i%>')"><%= i%></a>
          </li>
          <%}%>

          <li id="next" class="page-item <%= pageCount === 1 && 'disabled'%>">
            <a class="page-link" onclick="getPageData('next')">></a>
          </li>
        </ul>
      </nav>
    </div>

    <footer>
      <div>대충 사이트정보 표시</div>
    </footer>
  </body>
</html>
