<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./components/cdn', { title: 'SesacIn' }) %>
    <link rel="stylesheet" href="/views/styles/globalstyle.css" />
    <link rel="stylesheet" href="/views/styles/listMain.css" />
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

    <script defer src="../static/js/listMain.js"></script>
  </head>
  <body class="container">
    <%- include('./components/header', { isLogin: isLogin }) %>
    <div id="listType"><%= type === 'board' ? '📋 Sesac 자유게시판' : '🙋‍♂️ Sesac Q&A'%></div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="width: 7%">ID</th>
          <th scope="col">제목</th>
          <th scope="col" class="bInfo">글쓴이</th>
          <th scope="col" class="bInfo">추천수</th>
          <th scope="col" class="bInfo cDate">작성일</th>
        </tr>
      </thead>
      <tbody class="listC">
        <%if (type === 'board'){%> <%for(let i = 0; i < boardData.length; i++){%>
        <tr onclick="moveToDetailBoard('<%= boardData[i].bId%>')" style="cursor: pointer">
          <th><%= boardData[i].bId%></th>
          <td style="text-align: start"><%= boardData[i].title%></td>
          <td><%= boardData[i].uName%></td>
          <td><%= boardData[i].likeCount%></td>
          <td><%= boardCreateAt[i]%></td>
        </tr>
        <%}%> <%} else{%> <%for(let i = 0; i < questionData.length; i++){%>
        <tr onclick="moveToDetailQuestion('<%=questionData[i].qId%>')" style="cursor: pointer">
          <th><%= questionData[i].qId%></th>
          <td style="text-align: start"><%= questionData[i].title%></td>
          <td><%= questionData[i].uName%></td>
          <td><%= questionData[i].likeCount%></td>
          <td><%= questionCreateAt[i]%></td>
        </tr>
        <%}%> <%}%>
      </tbody>
    </table>

    <nav aria-label="..." style="display: flex; justify-content: center; margin-top: 20px">
      <ul class="pagination">
        <li id="prev" class="page-item disabled">
          <a class="page-link" tabindex="-1" onclick="getPageData('prev')"><</a>
        </li>

        <%for(let i = 1; i <= (pageCount > 10 ? 10 : pageCount); i++){%>
        <li class="page-item <%= i === 1 && 'active' %>">
          <a class="page-link" onclick="getPageData('<%= i%>')"><%= i%></a>
        </li>
        <%}%>

        <li id="next" class="page-item <%= pageCount === 1 && 'disabled'%>">
          <a class="page-link" onclick="getPageData('next')">></a>
        </li>
      </ul>
    </nav>
  </body>
</html>
