<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>questionData: <%= questionData%></div>
    <br />
    <div>questionCreateAt: <%= questionCreateAt%></div>
    <br />
    <div>questionUserName: <%= questionUserName%></div>
    <br />
    <div>questionCommentCount: <%= questionCommentCount%></div>
    <br />
    <div>boardData: <%= boardData%></div>
    <br />
    <div>boardCreateAt: <%= boardCreateAt%></div>
    <br />
    <div>boardUserName: <%= boardUserName%></div>
    <br />
    <div>boardCommentCount: <%= boardCommentCount%></div>
    <br />
    <div>isLogin: <%= isLogin%></div>
    <br />
    <div>currentUserId: <%= currentUserId%></div>
  </body>
</html>
