<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./components/cdn', { title: '메인' }) %>
    <link rel="stylesheet" href="/views/styles/globalstyle.css" />
    <link rel="stylesheet" href="/views/styles/index.css" />
    <script defer src="../static/js/index.js"></script>
    <script defer src="../static/js/main.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  </head>
  <body>
    <div class="container">
      <%- include('./components/header', { isLogin: isLogin }) %>
    </div>

    <%- include('./components/carousel')%>
    <div class="container">
      <div class="qnaMenu" style="margin-top: 50px">
        <div style="display: flex; align-items: center">
          🙋‍♂️ Sesac Q&A
          <a href="/question/main"
            ><div class="showMore">
              <div>더보기</div>
              <div>></div>
            </div></a
          >
        </div>
        <div id="btnContainer">
          <div
            class="swiper-button-prev qPrev"
            style="position: relative"
          ></div>
          <div
            class="swiper-button-next qNext"
            style="position: relative"
          ></div>
        </div>
      </div>

      <div class="swiper qnaSwiper">
        <div class="swiper-wrapper">
          <%for(let i = 0; i < questionData.length; i++){%>
          <div class="swiper-slide">
            <%-include('./components/questionBoardCard', { data:
            questionData[i], cDate: questionCreateAt[i] })%>
          </div>
          <%}%>
        </div>
      </div>

      <div class="qnaMenu" style="margin-top: 50px">
        <div style="display: flex; align-items: center">
          🌱 Sesac 자유게시판
          <a href="/board/main"
            ><div class="showMore">
              <div>더보기</div>
              <div>></div>
            </div>
          </a>
        </div>
        <div id="btnContainer">
          <div
            class="swiper-button-prev bPrev"
            style="position: relative"
          ></div>
          <div
            class="swiper-button-next bNext"
            style="position: relative"
          ></div>
        </div>
      </div>

      <div class="swiper boardSwiper">
        <div class="swiper-wrapper">
          <%for(let i = 0; i < boardData.length; i++){%>
          <div class="swiper-slide">
            <%-include('./components/freeBoardCard', { data: boardData[i],
            cDate: boardCreateAt[i] })%>
          </div>
          <%}%>
        </div>
      </div>
    </div>

    <footer><%- include('./components/footer')%></footer>
  </body>
</html>
