<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./components/cdn', { title: '메인' }) %>
    <link rel="stylesheet" href="/views/styles/globalstyle.css" />
    <link rel="stylesheet" href="/views/styles/index.css" />
    <script defer src="../static/js/index.js"></script>
    <script defer src="../static/js/main.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  </head>
  <body>
    <div class="container">
      <%- include('./components/header', { isLogin: isLogin }) %>
    </div>

    <%- include('./components/carousel')%>
    <div class="container">
      <!-- <div class="menuContainer">
        <div style="display: flex">
          <div class="menu activeM" onclick="changeType(this)">Q&A</div>
          <div class="menu" onclick="changeType(this);">자유게시판</div>
        </div>
      </div> -->
      <!-- <div style="display: flex; justify-content: flex-end">
        <button
          onclick="moveToMakePost()"
          type="button"
          class="btn btn-outline-primary"
        >
          글쓰기
        </button>
      </div> -->

      <div class="qnaMenu" style="margin-top: 50px">
        <div style="display: flex; align-items: center">
          🙋‍♂️ Sesac Q&A
          <div class="showMore">더보기</div>
        </div>
        <div id="btnContainer">
          <div
            class="swiper-button-prev qPrev"
            style="position: relative"
          ></div>
          <div
            class="swiper-button-next qNext"
            style="position: relative"
          ></div>
        </div>
      </div>

      <div class="swiper qnaSwiper">
        <div class="swiper-wrapper">
          <%for(let i = 0; i < data.length; i++){%>
          <div class="swiper-slide">
            <%-include('./components/questionBoardCard', { data: data[i], cDate:
            cDate[i] })%>
          </div>
          <%}%>
        </div>
      </div>

      <div class="qnaMenu" style="margin-top: 50px">
        <div style="display: flex; align-items: center">
          📋 Sesac 자유게시판
          <div class="showMore">더보기</div>
        </div>
        <div id="btnContainer">
          <div
            class="swiper-button-prev bPrev"
            style="position: relative"
          ></div>
          <div
            class="swiper-button-next bNext"
            style="position: relative"
          ></div>
        </div>
      </div>

      <div class="swiper boardSwiper">
        <div class="swiper-wrapper">
          <%for(let i = 0; i < data.length; i++){%>
          <div class="swiper-slide">
            <%-include('./components/freeBoardCard', { data: data[i], cDate:
            cDate[i] })%>
          </div>
          <%}%>
        </div>
      </div>

      <!-- <nav
        aria-label="..."
        style="display: flex; justify-content: center; margin-top: 20px"
      >
        <ul class="pagination">
          <li id="prev" class="page-item disabled">
            <a class="page-link" tabindex="-1" onclick="getPageData('prev')"
              ><</a
            >
          </li>

          <%for(let i = 1; i <= (pageCount > 10 ? 10 : pageCount); i++){%>
          <li class="page-item <%= i === 1 && 'active' %>">
            <a class="page-link" onclick="getPageData('<%= i%>')"><%= i%></a>
          </li>
          <%}%>

          <li id="next" class="page-item <%= pageCount === 1 && 'disabled'%>">
            <a class="page-link" onclick="getPageData('next')">></a>
          </li>
        </ul>
      </nav> -->
    </div>

    <footer>
      <div>대충 사이트정보 표시</div>
    </footer>
  </body>
</html>
