<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="/static/js/index.js"></script>
  </head>
  <body>
    <h1>My Page</h1>
    <h3>회원 정보</h3>

    <div>ID : <%= userData.uId %></div>
    <div>이름 : <%= userData.uName %></div>
    <div>이메일 : <%= userData.email %></div>
    <div>새싹 멤버 : <%= userData.isSesac %></div>
    <div>이메일 : <%= userData.campus %></div>

    <button onclick="moveToEditProfile('<%= userData.uId %>')">
      회원정보 수정
    </button>
    <p>QnA</p>
    <p>자유</p>
    <br />
    <h4>좋아요</h4>

    <h4>작성 게시글</h4>
    <div class="index_container">
      <%for(let i = 0; i < postData.length; i++){%> <%-include(
      './components/questionBoardCard', { data: postData[i] })%> <%}%>
    </div>

    <h4>댓글</h4>
    <div class="index_container">
      <%for(let i = 0; i < commentData.length; i++){%> <%-include(
      './components/questionBoardCard', { data: commentData[i] })%> <%}%>
    </div>

    <h4>답변</h4>
    <div class="index_container">
      <%for(let i = 0; i < answerData.length; i++){%> <%-include(
      './components/questionBoardCard', { data: answerData[i] })%> <%}%>
    </div>
  </body>
</html>
