<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="/static/js/index.js"></script>
  </head>
  <body>
    <header>
      <img src="../../static/img/제목을 입력해주세요_-001 (2).png" ></img>
      <div>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 20 20" class="bi-arrow-left">
      <circle cx="10" cy="10" r="9.5" fill="transparent" class="hover-circle" />
      <path fill="black" fill-rule="evenodd" transform="translate(2, 2)" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
  </div>
  </header>
  <main>

    <img src="../static/img/leaf-svgrepo-com.svg" alt="">
    <h1>User Profile</h1>
    <% if (userData) { %>
    <p>UserID: <%= userData.uId %></p>
    <p>UserName: <%= userData.uName %></p>
    <p>Email: <%= userData.email %></p>
    <p>Is Sesac: <%= userData.isSesac ? 'Yes' : 'No' %></p>
    <p>Campus: <%= userData.campus %></p>
    <% } else { %>
    <p>User data not available.</p>
    <% } %>
  </main>
  </body>
  <script>
    function editProfile() {
      axios({
        method: 'GET',
        url: '/users/editprofile',
      }).then((res) => {
    if (res) {
    }
  });
    }
  </script>
</html>