<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
  </head>
  <body>
    <h1>User Profile</h1>
    <% if (userData) { %>
    <p>UserID: <%= userData.uId %></p>
    <p>UserName: <%= userData.uName %></p>
    <p>Email: <%= userData.email %></p>
    <p>Is Sesac: <%= userData.isSesac ? 'Yes' : 'No' %></p>
    <p>Campus: <%= userData.campus %></p>
    <% } else { %>
    <p>User data not available.</p>
    <% } %>


    <a href="/editprofile">회원 정보 수정</a>
  </body>
</html>
