<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./components/cdn', { title: 'SesacIn 자유게시글 상세' }) %>
    <link rel="stylesheet" href="/views/styles/globalstyle.css" />
    <link rel="stylesheet" href="/views/styles/boardDetail.css" />
    <script defer src="/static/js/questionDetail.js"></script>
    <link rel="stylesheet" href="/static/editor/editorStyle.css" />
  </head>
  <body class="container">
    <%- include('./components/header', { isLogin: isLogin }) %>
    <div id="bWrapper">
      <div id="bTitle">
        <div class="ques_type"><%= data.qType %></div>
        <%= data.title %>
      </div>
      <div id="bUserC">
        <div style="display: flex; align-items: center">
          <div id="bUser">
            <%if(data.userImgPath){%>
            <img
              src="/<%= data.userImgPath%>"
              alt="프로필"
              width="36px"
              height="36px"
              style="border-radius: 999px"
              class="profileImg"
            />
            <%}else{%>
            <img
              src="../../static/svg/person.svg"
              alt="프로필"
              width="36px"
              height="36px"
              style="border-radius: 999px"
              class="profileImg"
            />
            <%}%> <%= data.User.uName %>
          </div>
          | <% if(!qResult) { %>
          <div
            class="viewImg likeImg"
            onclick="bLikeHandler('<%= data.qId %>')"
          >
            <img
              src="/static/svg/heart.svg"
              alt="좋아요수"
              width="24px"
              class="svg"
            />
            <%= data.likeCount%>
          </div>

          <% } else if(qResult) { %>

          <div
            class="viewImg likeImg"
            onclick="bLikeHandler('<%= data.qId %>')"
          >
            <img
              src="/static/svg/heart-fill.svg"
              alt="좋아요수"
              width="24px"
              class="svg"
            />
            <%= data.likeCount %>
          </div>

          <% } %>

          <div class="viewImg">
            <img
              src="../../static/svg/eye.svg"
              alt="조회수"
              width="24px"
              class="svg"
            />
            <%= data.viewCount%>
          </div>
        </div>

        <div id="bTime"><%= questionCreateAt %></div>
      </div>

      <div class="bContent ck-content"><%- data.content %></div>

      <%if(isLogin && data.uId === userData.uId){%>
      <div
        style="display: flex; justify-content: flex-end; margin-bottom: 15px"
      >
        <a
          href="/board/edit/<%= data.qId %>"
          style="cursor: pointer; margin-right: 10px"
        >
          <div style="color: darkgray; font-size: 18px; font-weight: 300">
            수정하기
          </div>
        </a>

        <div
          style="
            color: darkgray;
            font-size: 18px;
            font-weight: 300;
            cursor: pointer;
          "
          onclick="openModal('정말 삭제하시겠어요?', 'deletePost(<%= data.qId %>)');"
        >
          삭제하기
        </div>
      </div>
      <%}%>
      <div class="answerContainer">
        <div class="answerTitle">당신의 답변을 알려주세요 !</div>
        <hr />
        <textarea class="answerArea"></textarea>
      </div>
      <div class="btnContainer">
        <button
          type="button"
          class="btn btn-light answerCancelBtn"
          onclick="toggleAnswerContainer()"
        >
          취소하기
        </button>
        <button
          type="button"
          class="btn btn-primary answerBtn"
          onclick="postAnswer('<%= data.qId %>')"
        >
          답변하기
        </button>
      </div>

      <div id="bCommentCount" style="margin: 20px 0px">
        답변 <%= answerData.length%>
      </div>

      <%for(let i = 0; i < answerData.length; i++){%>
      <div class="answered">
        <div
          class="input-group"
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <div class="userC">
            <%if(answerData[i].User?.userImgPath){%>
            <img
              src="/<%= answerData[i].User.userImgPath %>"
              alt="프로필"
              width="48px"
              height="48px"
              style="border-radius: 999px"
              class="profileImg"
            />
            <%}else{%>
            <img
              src="../../static/svg/person.svg"
              alt="프로필"
              width="48px"
              height="48px"
              style="border-radius: 999px"
              class="profileImg"
            />
            <%}%> <%= answerData[i].User?.uName %>
          </div>
          <div style="font-size: 14px; color: lightgray">
            <%= answersCreateAt[i] %>
          </div>
        </div>

        <hr />

        <div
          id="comment<%= answerData[i].aId%>"
          style="margin-left: 15px; min-height: 100px"
        >
          <%= answerData[i].content %>
        </div>

        <%if(isLogin && answerData[i].uId === userData.uId){%>
        <div
          id="fixCommentC<%= answerData[i].aId %>"
          style="display: flex; justify-content: flex-end; color: darkgray"
        >
          <div style="cursor: pointer; margin-right: 10px">수정</div>

          <div style="cursor: pointer">삭제</div>
        </div>
        <%}%>
        <div style="display: flex">
          <% if (!aResult[i]) { %>
          <div class="likeC" onclick="bLikeHandler('<%= data.qId %>')">
            <img
              src="/static/svg/heart.svg"
              alt="좋아요수"
              width="24px"
              class="svg"
            />
            좋아요 <%= answerData[i].likeCount%>
          </div>
          <% } else if (aResult[i]) { %>
          <div
            class="likeC likeActive"
            onclick="bLikeHandler('<%= data.qId %>')"
          >
            <img
              src="/static/svg/heart-fill.svg"
              alt="좋아요수"
              width="24px"
              class="svg"
            />
            좋아요 <%= answerData[i].likeCount%>
          </div>
          <% } %>

          <div
            class="commentC"
            onclick="toggleComment(this, '<%= answerData[i].aId%>')"
          >
            <% const answerCommentList = [] %> <% const answerDateList = [] %>
            <% for(let k = 0; k < commentData.length; k++) { %> <%
            if(commentData[k].aId === answerData[i].aId) { %> <%
            answerCommentList.push(commentData[k]); %> <%
            answerDateList.push(commentsCreateAt[k]); %> <% } %> <% } %>

            <img
              src="/static/svg/message.svg"
              alt="댓글"
              width="24px"
              style="margin-right: 5px; margin-top: 2px"
            />
            댓글 <%= answerCommentList.length %>
          </div>
        </div>

        <!-- 댓글 눌렀을때 나오는 거 -->
        <div id="commentC<%= answerData[i].aId%>" class="answerCommentC">
          <div class="btnContainer" style="align-items: center">
            <div style="font-size: 14px; display: flex; align-items: center">
              <%if(isLogin && userData.userImgPath){%>
              <img
                src="/<%= userData.userImgPath %>"
                alt="프로필"
                width="32px"
                height="32px"
                style="border-radius: 999px; margin-right: 10px"
                class="profileImg"
              />
              <%}else{%>
              <img
                src="../../static/svg/person.svg"
                alt="프로필"
                width="32px"
                height="32px"
                style="border-radius: 999px; margin-right: 10px"
                class="profileImg"
              />
              <%}%> <%= userData ? userData.uName : '로그인 해주세요'%>
            </div>
            <div
              style="font-size: 14px; cursor: pointer"
              onclick="addComment('<%= data.qId %>', '<%= answerData[i].aId%>', '<%= userData && userData.uName%>', '<%= userData && userData.userImgPath%>')"
            >
              댓글 등록
            </div>
          </div>

          <textarea
            id="commentArea<%= answerData[i].aId%>"
            class="form-control shadow-none"
            aria-label="With textarea"
            style="height: 70px; margin-top: 10px; font-size: 14px"
            placeholder="댓글을 입력하세요"
          ></textarea>
          <%for(let j = 0; j < answerCommentList.length; j++){%>
          <div
            class="commentContainer<%= answerCommentList[j].cId%>"
            style="padding: 0px"
          >
            <div class="input-group commentUser">
              <div class="userC">
                <%if(answerCommentList[j].User.userImgPath){%>
                <img
                  src="/<%= answerCommentList[j].User.userImgPath %>"
                  alt="프로필"
                  width="24px"
                  height="24px"
                  style="border-radius: 999px"
                  class="profileImg"
                />
                <%}else{%>
                <img
                  src="../../static/svg/person.svg"
                  alt="프로필"
                  width="24px"
                  height="24px"
                  style="border-radius: 999px"
                  class="profileImg"
                />
                <%}%> <%= answerCommentList[j].User.uName %>
              </div>
              <div style="font-size: 14px; color: lightgray">
                <%= answerDateList[i] %>
              </div>
            </div>
            <div
              id="comment<%= answerCommentList[j].cId%>"
              style="margin-left: 15px; font-size: 14px; margin-bottom: 12px"
            >
              <%= answerCommentList[j].content %>
            </div>
            <%if(isLogin && answerCommentList[j].uId === userData.uId){%>
            <div
              id="fixCommentC<%= answerCommentList[j].cId %>"
              style="
                display: flex;
                justify-content: flex-end;
                color: darkgray;
                margin-bottom: 7px;
              "
            >
              <div
                style="cursor: pointer; margin-right: 10px; font-size: 14px"
                onclick="fixComment('<%= data.qId %>', '<%= answerCommentList[j].cId %>','<%= answerData[i].aId%>')"
              >
                수정
              </div>

              <div
                style="cursor: pointer; font-size: 14px"
                onclick="openModal('정말 삭제하시겠어요?', 'deleteComment(<%= data.qId %>, <%= answerCommentList[j].cId %>, <%= answerData[i].aId%>)');"
              >
                삭제
              </div>
            </div>
            <%}%>
          </div>
          <%}%>
        </div>
      </div>
      <%}%>
    </div>
  </body>
  <script>
    //=== 세화 ===
    // 좋아요 기능
    const bLikeHandler = (qId) => {
      axios({
        method: 'PATCH',
        url: `/board/detail/like/${qId}`,
      })
        .then((res) => {
          if (res) {
            document.location.href = `/board/detail/${qId}`;
          }
        })
        .catch((err) => {
          console.log(err);
          if (err.response.status === 401) {
            document.location.href = '/';
          }
        });
    };
  </script>
</html>
