<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="../static/js/index.js"></script>
  </head>
  <body>
    <h1>질문 상세 페이지</h1>
    <h3>질문</h3>
    <div>제목 <%= data.title %></div>
    <div>분야 <%= data.qType %></div>
    <div>내용 <%= data.content %></div>
    <div>조회수 <%= data.viewCount %></div>
    <div>좋아요 <%= data.likeCount %></div>
    <div>생성날짜 <%= data.createdAt %></div>
    <div>수정날짜 <%= data.updatedAt %></div>
    <button onclick="moveToEditQuestion('<%= data.qId %>')">수정</button>
    <button onclick="deleteQuestion('<%= data.qId %>')">삭제</button>

    <% if (answerData && answerData.length > 0) { %>
    <h3>답변 리스트</h3>
    <button onclick="moveToCreateAnswer('<%= data.qId %>')">답변 등록</button>

    <div>답변 개수 <%= answerData.length %></div>
    <br />

    <% for(let i = 0; i < answerData.length; i++) { %>

    <h4>답변 <%= i+1 %></h4>
    <button
      onclick="moveToEditAnswer('<%= data.qId %>', '<%= answerData[i].aId %>')"
    >
      답변 수정하기
    </button>
    <button
      onclick="deleteAnswer('<%= data.qId %>','<%= answerData[i].aId %>')"
    >
      답변 삭제하기
    </button>
    <div>답변 제목 : <%= answerData[i].title %></div>
    <div>답변 내용 :<%= answerData[i].content %></div>
    <div>답변 좋아요 :<%= answerData[i].likeCount %></div>
    <div>답변 생성날짜 : <%= answerData[i].createdAt %></div>
    <div>답변 수정날짜 : <%= answerData[i].updatedAt %></div>
    <br />

    <% if (commentData && commentData.length > 0 ) { %>

    <!-- && commentData.aId === i+1 -->

    <div>번호 <%= commentData.aId %></div>

    <h4>댓글 <%= i+1 %></h4>
    <!-- <button
      onclick="getAnswerComments()"
    >
      댓글 보기
    </button> -->
    <div>댓글 수 <%= commentData.length %></div>
    <br />
    <button
      onclick="moveToCreateComment('<%= data.qId %>', '<%= answerData[i].aId %>')"
    >
      댓글 등록
    </button>
    <br />

    <% for(let j = 0; j < commentData.length; j++) { %>
    <br />
    <button
      onclick="moveToEditComment('<%= data.qId %>', '<%= answerData[i].aId %>', '<%= commentData[j].cId %>')"
    >
      댓글 수정하기
    </button>
    <button
      onclick="deleteComment('<%= data.qId %>','<%= answerData[i].aId %>', '<%= commentData[j].cId %>')"
    >
      댓글 삭제하기
    </button>
    <div>댓글 작성자 : <%= commentData[j].uId %></div>
    <div>댓글 내용 : <%= commentData[j].content %></div>
    <div>댓글 생성날짜 : <%= commentData[j].createdAt %></div>
    <div>댓글 수정날짜 : <%= commentData[j].updatedAt %></div>

    <% } %> <% } %>
    <br />

    <% } %> <% } else { %>
    <div>답변이 없습니다.</div>
    <% } %>
  </body>
</html>
