<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>질문 상세 페이지</h1>
    <div>제목 <%= data.title %></div>
    <div>분야 <%= data.qType %></div>
    <div>내용 <%= data.content %></div>
    <div>조회수 <%= data.viewCount %></div>
    <div>좋아요 <%= data.likeCount %></div>
    <div>생성날짜 <%= data.createdAt %></div>
    <div>수정날짜 <%= data.updatedAt %></div>
    <div>답변 개수 <%= answerData.length %></div>
    <div>답변 제목 <%= answerData[0].title %></div>
    <div>답변 내용 <%= answerData[0].content %></div>
    <div>답변 좋아요 <%= answerData[0].likeCount %></div>
    <div>답변 생성날짜 <%= answerData[0].createdAt %></div>
    <div>답변 수정날짜 <%= answerData[0].updatedAt %></div>
    <div>답변 댓글 <%= commentData[0].content %></div>
  </body>
</html>
