<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./components/cdn', { title: 'SesacIn 자유게시글 상세' }) %>
    <link rel="stylesheet" href="/views/styles/globalstyle.css" />
    <link rel="stylesheet" href="/views/styles/boardDetail.css" />
    <script defer src="/static/js/boardDetail.js"></script>
    <link rel="stylesheet" href="/static/editor/editorStyle.css" />
  </head>
  <body class="container">
    <%- include('./components/header', { isLogin: isLogin }) %>
    <div id="bWrapper">
      <div id="bTitle"><%= boardData.title %></div>
      <div id="bUserC">
        <div style="display: flex; align-items: center">
          <div id="bUser">
            <%console.log(boardData.title)%> <%if(boardData.userImgPath){%>
            <img
              src="/<%= boardData.userImgPath%>"
              alt="프로필"
              width="36px"
              height="36px"
              style="border-radius: 999px"
              class="profileImg"
            />
            <%}else{%>
            <img
              src="../../static/svg/person.svg"
              alt="프로필"
              width="36px"
              height="36px"
              style="border-radius: 999px"
              class="profileImg"
            />
            <%}%> <%= boardData.uName %>
          </div>
          | <% if(!bResult) { %>
          <div
            class="viewImg likeImg"
            onclick="bLikeHandler('<%= boardData.bId %>')"
          >
            <img
              src="/static/svg/heart.svg"
              alt="좋아요수"
              width="24px"
              class="svg"
            />
            <%= boardData.likeCount%>
          </div>

          <% } else if(bResult) { %>

          <div
            class="viewImg likeImg"
            onclick="bLikeHandler('<%= boardData.bId %>')"
          >
            <img
              src="/static/svg/heart-fill.svg"
              alt="좋아요수"
              width="24px"
              class="svg"
            />
            <%= boardData.likeCount %>
          </div>

          <% } %>

          <div class="viewImg">
            <img
              src="../../static/svg/eye.svg"
              alt="조회수"
              width="24px"
              class="svg"
            />
            <%= boardData.viewCount%>
          </div>
        </div>

        <div id="bTime"><%= cDate %></div>
      </div>

      <div class="bContent ck-content"><%- boardData.content %></div>
      <%if(isLogin && boardData.uId === userData.uId){%>
      <div style="display: flex; justify-content: flex-end">
        <a
          href="/board/edit/<%= boardData.bId %>"
          style="cursor: pointer; margin-right: 10px"
        >
          <div style="color: darkgray; font-size: 18px; font-weight: 300">
            수정하기
          </div>
        </a>

        <div
          style="
            color: darkgray;
            font-size: 18px;
            font-weight: 300;
            cursor: pointer;
          "
          onclick="openModal('정말 삭제하시겠어요?', 'deletePost(<%= boardData.bId %>)');"
        >
          삭제하기
        </div>
      </div>
      <%}%>

      <div id="bCommentCount">댓글 <%= commentData.length%></div>

      <div style="display: flex; flex-direction: column; align-items: flex-end">
        <div class="input-group" style="margin: 15px 0px 15px 0px">
          <%if(isLogin && userData.userImgPath){%>
          <img
            src="/<%= userData.userImgPath %>"
            alt="프로필"
            width="48px"
            height="48px"
            style="border-radius: 999px"
            class="profileImg"
          />
          <%}else{%>
          <img
            src="../../static/svg/person.svg"
            alt="프로필"
            width="48px"
            height="48px"
            style="border-radius: 999px"
            class="profileImg"
          />
          <%}%>
          <textarea
            class="form-control"
            aria-label="With textarea"
            style="height: 100px"
          ></textarea>
        </div>
        <button
          type="button"
          class="btn btn-primary"
          onclick="addComment('<%= boardData.bId %>')"
        >
          작성하기
        </button>
      </div>

      <%for (let i = 0; i < commentData.length; i++) {%>

      <div class="commentContainer">
        <div
          class="input-group"
          style="
            display: flex;
            margin: 15px 0px 15px 0px;
            align-items: center;
            justify-content: space-between;
          "
        >
          <div class="userC">
            <%if(commentData[i].userImgPath){%>
            <img
              src="/<%= commentData[i].userImgPath %>"
              alt="프로필"
              width="48px"
              height="48px"
              style="border-radius: 999px"
              class="profileImg"
            />
            <%}else{%>
            <img
              src="../../static/svg/person.svg"
              alt="프로필"
              width="48px"
              height="48px"
              style="border-radius: 999px"
              class="profileImg"
            />
            <%}%> <%= commentData[i].uName %>
          </div>
          <div style="font-size: 14px; color: lightgray">
            <%= commentCreateAt[i] %>
          </div>
        </div>
        <div id="comment<%= commentData[i].cId%>" style="margin-left: 15px">
          <%= commentData[i].content %>
        </div>
        <%if(isLogin && commentData[i].uId === userData.uId){%>
        <div
          id="fixCommentC<%= commentData[i].cId %>"
          style="display: flex; justify-content: flex-end; color: darkgray"
        >
          <div
            style="cursor: pointer; margin-right: 10px"
            onclick="fixComment('<%= commentData[i].cId %>', '<%= boardData.bId %>')"
          >
            수정
          </div>

          <div
            style="cursor: pointer"
            onclick="openModal('정말 삭제하시겠어요?', 'deleteComment(<%= commentData[i].cId %>, <%= boardData.bId %>)');"
          >
            삭제
          </div>
        </div>
        <%}%>
      </div>
      <%}%>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="myModal"
      tabindex="-1"
      aria-labelledby="cautionModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cautionModalLabel">경고</h5>
          </div>
          <div class="modal-body">
            <p id="cautionText"></p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              data-bs-dismiss="modal"
            >
              취소
            </button>
            <button type="button" class="btn btn-danger" id="deletebtn">
              확인
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    //=== 세화 ===
    // 좋아요 기능
    const bLikeHandler = (bId) => {
      axios({
        method: 'PATCH',
        url: `/board/detail/like/${bId}`,
      })
        .then((res) => {
          if (res) {
            document.location.href = `/board/detail/${bId}`;
          }
        })
        .catch((err) => {
          console.log(err);
          if (err.response.status === 401) {
            document.location.href = '/';
          }
        });
    };
  </script>
</html>
